# File for cli aliases
# Sourced by ~/.zshrc

alias aks-dev="az aks get-credentials --resource-group dev-usc-shared-rg --name dev-usc-shared-aks --subscription DEV --admin"
alias aks-qa="az aks get-credentials --resource-group qa-usc-sharedcluster-rg --name qa-usc-sharedcluster-aks--subscription QA --admin"
alias aks-uat="az aks get-credentials --resource-group uat-usc-sharedcluster-rg --name uat-usc-sharedcluster-aks--subscription UAT --admin"
alias aks-prod="az aks get-credentials --resource-group prd-usc-sharedcluster-rg --name prod-usc-sharedcluster-aks--subscription PROD --admin"

# Git aliases.
#alias gs='git status'
#alias gc='git commit'
#alias gp='git pull --rebase'
#alias gcam='git commit -am'
#alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
